---
layout: default
title: Possel
---

<div class="imsogoodatnamingdivs">
  <div class="dooblydoo">
    <h2><i class="fa fa-users"></i> <span class="spacer"></span>
      34 <span class="spacer"></span> In this channel</h2>
  </div>

  <div class="nickwrap">
    <ul class="nicklist">
      <li class="oper active"><a href="">angusp</a></li>
      <li class="oper"><a href="">carrot</a></li>
      <li class="oper active"><a href="">COMPSOC</a></li>
      <li class="oper active"><a href="">KitB</a></li>
      <li class="oper"><a href="">neanias</a></li>
      <li class="voice"><a href="">rhiaro</a></li>
      <li class="voice"><a href="">botbot</a></li>
      <li><a href="">Abish</a></li>
      <li><a href="">amazoph</a></li>
      <li class="active"><a href="">Bletherer</a></li>
      <li class="active"><a href="">bmoriarty</a></li>
      <li class="active"><a href="">edran</a></li>
      <li><a href="">Jammy</a></li>
      <li class="active"><a href="">oliland</a></li>
      <li><a href="">Curabitur</a></li>
      <li><a href="">non</a></li>
      <li><a href="">tortor</a></li>
      <li><a href="">vel</a></li>
      <li><a href="">leo</a></li>
      <li><a href="">rutrum</a></li>
      <li><a href="">ultricies</a></li>
      <li><a href="">non</a></li>
      <li><a href="">in</a></li>
      <li><a href="">urna</a></li>
      <li><a href="">Cras</a></li>
      <li><a href="">tincidunt</a></li>
      <li><a href="">massa</a></li>
      <li><a href="">et</a></li>
      <li><a href="">massa</a></li>
      <li><a href="">feugiat</a></li>
      <li><a href="">vulputate</a></li>
      <li><a href="">Integer</a></li>
      <li><a href="">fermentum</a></li>
      <li><a href="">nec</a></li>
      <li><a href="">magna</a></li>
      <li><a href="">vitae</a></li>
      <li><a href="">egestas</a></li>
      <li><a href="">Nunc</a></li>
      <li><a href="">non</a></li>
      <li><a href="">blandit</a></li>
      <li><a href="">velit</a></li>
      <li><a href="">Cras</a></li>
      <li><a href="">justo</a></li>
      <li><a href="">neque</a></li>
      <li><a href="">porta</a></li>
      <li><a href="">ut</a></li>
      <li><a href="">ligula</a></li>
      <li><a href="">cursus</a></li>
      <li><a href="">ultricies</a></li>
      <li><a href="">commodo</a></li>
      <li><a href="">risus</a></li>
      <li><a href="">Donec</a></li>
      <li><a href="">est</a></li>
      <li><a href="">dui</a></li>
      <li><a href="">euismod</a></li>
      <li><a href="">quis</a></li>
      <li><a href="">ullamcorper</a></li>
      <li><a href="">sit</a></li>
      <li><a href="">amet</a></li>
      <li><a href="">luctus</a></li>
      <li><a href="">egestas</a></li>
      <li><a href="">risus</a></li>
      <li><a href="">Vivamus</a></li>
      <li><a href="">nec</a></li>
      <li><a href="">mattis</a></li>
      <li><a href="">turpis</a></li>
      <li><a href="">Nullam</a></li>
      <li><a href="">consectetur</a></li>
      <li><a href="">nec</a></li>
      <li><a href="">orci</a></li>
      <li><a href="">ut</a></li>
      <li><a href="">rutrum</a></li>
    </ul>
  </div>
</div><!-- /.imsogoodatnamingdivs -->

<header class="topic">
  <span class="channame">#compsoc</span>
  <span class="pull-right chanmeta">
    <button type="button" class="btn btn-sm btn-hover-primary btn-default">
      <i class="fa fa-close"></i> &nbsp; leave
    </button>
    <button type="button" class="btn btn-sm btn-hover-primary btn-default">
      <i class="fa fa-arrows-alt"></i>
    </button>
    <button type="button" class="btn btn-sm btn-hover-primary btn-default">
      <i class="fa fa-search"></i>
    </button>
  </span>
  <span class="chantopic">
    COMPSOC &lt;3 FRESHERS | EGM & STMU 21st Oct in the IF! | See also #compsoc-minecraft
    (now with more KSP), #compsoc-ss13, #tardis and #sigint for alumni
  </span>
</header>


<div class="chatblock">
  <div class="chatwrap">
  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/dc0c227582d78aa79b328f775d328cb5?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">angusp</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie nunc in erat bibendum, ac malesuada diam facilisis. Nullam consequat eros eu sapien varius, ornare pellentesque elit consequat. In hac habitasse platea dictumst. Curabitur hendrerit mauris ut tellus egestas, sed accumsan quam tempus. 
      </p>
    </div>
  </div>


  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/fda983bf3846fce620d3821a60c3c876?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">KitB</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:06</span>
      <p>
        Praesent cursus fermentum dignissim. <span class="mention">@angusp</span> Mauris eleifend sem ac nibh fermentum, a euismod sapien fermentum.
      </p>
      <p>
        <span class="usermsgtime">12:15</span>
        Aenean sed ultrices quam. Phasellus in urna tellus. Donec hendrerit diam sed lacus eleifend, id aliquam ex commodo. In luctus egestas orci, ac commodo risus eleifend nec. Sed egestas maximus venenatis. Pellentesque vel dolor interdum, scelerisque tellus dignissim, congue nunc.
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/87d304343f222bbc5c59ac86ec5088ec?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">Norgg</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:29</span>
      <p>
        Nunc non imperdiet ipsum. Maecenas in convallis augue, sed efficitur massa. Aliquam consectetur, lectus vel feugiat euismod, velit nisi elementum tellus, at faucibus elit nulla vel justo. </p><p>Aliquam convallis vulputate nibh, a sagittis ante pretium non. Quisque cursus consectetur fermentum. Nunc euismod sollicitudin dui id cursus. In hac habitasse platea dictumst. Suspendisse facilisis consectetur ipsum. Integer tempus nisl vestibulum nisl porta sodales.
      </p>
    </div>
  </div>


  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/dc0c227582d78aa79b328f775d328cb5?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">angusp</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:29</span>
      <p><a href="https://www.youtube.com/watch?v=XZLN1PN3L4I">https://www.youtube.com/watch?v=XZLN1PN3L4I</a></p>
      <div class="richmedia panel panel-default">
        <div class="">
          <div class="embed-responsive embed-responsive-16by9 richmedia-embed">
            <iframe src="https://www.youtube.com/embed/XZLN1PN3L4I" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-right"><i class="fa fa-close"></i></span>
          <img class="embed-icon" src="http://s.ytimg.com/yts/img/favicon_48-vfl1s0rGh.png">
          <span class="spacer"></span>
          <span><a href="https://www.youtube.com/channel/UC3LqW4ijMoENQ2Wv17ZrFJA">PBS Idea Channel</a></span>
          <span class="spacer"></span>&rsaquo;<span class="spacer"></span>
          <span>Is Rick from Rick & Morty The Ideal Scientis&hellip;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/446effaf75beecdb49ea47b677c7deb5?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">Abish</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Vestibulum quis lectus justo.
      </p><p>
        <span class="usermsgtime">12:05</span>
        Nulla porta nisl ut augue aliquet pharetra. Integer auctor interdum nisi euismod tincidunt. Vestibulum nunc justo, pretium gravida pretium nec, sodales ac orci. Integer sit amet lobortis lacus.
      </p><p>
        <span class="usermsgtime">12:06</span>
        Proin ex diam, hendrerit id nibh vel, posuere accumsan lorem. Proin iaculis est tincidunt enim vestibulum faucibus.
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/dc0c227582d78aa79b328f775d328cb5?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">angusp</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie nunc in erat bibendum, ac malesuada diam facilisis. Nullam consequat eros eu sapien varius, ornare pellentesque elit consequat. In hac habitasse platea dictumst. Curabitur hendrerit mauris ut tellus egestas, sed accumsan quam tempus. 
      </p>
    </div>
  </div>


  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/f7631683177c0fcb54f4cf75235f00ce?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">COMPSOC</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:31</span>
      <p>
        <a href="https://twitter.com/CompSoc/status/652833732760571904">https://twitter.com/CompSoc/status/652833732760571904</a>
      </p>
      <div class="richmedia wider panel panel-default">
        <div class="row nogutter">
          <div class="col-sm-7">
            <img src="https://pbs.twimg.com/media/CPCOv3wXAAAi1Mx.jpg:large" class="img-responsive">
          </div>
          <div class="col-sm-5">
            <div class="panel-body">
              <span class="pull-right"><i class="fa fa-close"></i></span>
              <img class="embed-icon" src="http://abs.twimg.com/favicons/favicon.ico">
              <br><br>
              <p lang="en" dir="ltr">CompSoc climbs Arthur&#39;s Seat <a href="https://twitter.com/hashtag/EdFreshers?src=hash">#EdFreshers</a> <a href="https://twitter.com/hashtag/freshers2015?src=hash">#freshers2015</a> <a href="https://twitter.com/hashtag/Edinburgh?src=hash">#Edinburgh</a> <a href="http://t.co/OCrSr9quS5">pic.twitter.com/OCrSr9quS5</a></p>&mdash; Computing Society (@CompSoc) <a href="https://twitter.com/CompSoc/status/644171744832524288">September 16, 2015</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="day-divider">Yesterday</div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/fda983bf3846fce620d3821a60c3c876?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">KitB</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Nam sollicitudin eros vitae urna tempus suscipit. Nullam maximus accumsan pretium. Etiam imperdiet sed purus feugiat mollis. Fusce in sodales lectus, at bibendum urna.
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/129a641d82e2dba1d0f001b3cf823312?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">EssayWriter</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Proin lobortis elit a lorem gravida suscipit vulputate a mauris. Quisque at elit ut quam varius lacinia. Aliquam volutpat quam in urna congue semper. Integer blandit dui at ex viverra maximus non at odio. Nam euismod dui at tristique consectetur. Nunc vel erat ipsum. Donec nec nisi a dolor facilisis lobortis. Vestibulum varius vitae metus nec sagittis.
      </p><p>
        Mauris ultrices, nisi quis efficitur consequat, eros arcu dapibus leo, id feugiat massa quam sit amet massa. Pellentesque in quam vitae turpis vulputate bibendum non eget diam. Aliquam tincidunt at lectus vel tincidunt. Mauris egestas neque maximus sem elementum convallis. Phasellus purus metus, pulvinar ut massa ac, malesuada pharetra elit. Nam accumsan tellus sit amet tempus blandit. Aliquam varius sagittis mollis. Aenean accumsan eros a orci lacinia facilisis. Ut vitae ligula ut orci varius finibus.
      </p>
    </div>
  </div>

  <div class="media notice">
    <div class="media-body">
      <i class="fa fa-reply"></i> <span class="spacer"></span>
      <img class="img-circle userimg"
           src="http://www.gravatar.com/avatar/129a641d82e2dba1d0f001b3cf823312?s=40&f=y&d=retro">
      &nbsp;<strong>EssayWriter</strong> has left the channel - 
      <q>Client.Quit</q>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/fda983bf3846fce620d3821a60c3c876?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">KitB</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Nam sollicitudin eros vitae urna tempus suscipit. Nullam maximus accumsan pretium. Etiam imperdiet sed purus feugiat mollis. Fusce in sodales lectus, at bibendum urna.
      </p>
    </div>
  </div>
  
  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/fda983bf3846fce620d3821a60c3c876?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">KitB</span>
      <span class="spacer"></span>
      <span class="usermsgtime">13:37</span>
      <p><a href="https://vimeo.com/82038912">https://vimeo.com/82038912</a></p>
      <div class="richmedia panel panel-default">
        <div class="embed-responsive embed-responsive-16by9 richmedia-embed">
          <iframe src="https://player.vimeo.com/video/82038912" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="panel-footer">
          <span class="pull-right"><i class="fa fa-close"></i></span>
          <img class="embed-icon" src="https://i.vimeocdn.com/favicon/main-touch_180">
          <span class="spacer"></span>
          <span>Vimeo</span>
          <span class="spacer"></span>&rsaquo;<span class="spacer"></span>
          <span>Midday Traffic Time Collapsed and Reorganized by Co&hellip;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/dc0c227582d78aa79b328f775d328cb5?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">angusp</span>
      <span class="spacer"></span>
      <span class="usermsgtime">14:01</span>
      <p><a href="https://twitter.com/CompSoc/status/652776037592469505">https://twitter.com/CompSoc/status/652776037592469505</a></p>
      <div class="richmedia panel panel-default">
        <div class="padder">
          <span class="pull-right"><i class="fa fa-close"></i></span>
          <img class="embed-icon" src="http://abs.twimg.com/favicons/favicon.ico">
          <br><br>
          <p lang="en" dir="ltr">If &quot;What even is API??!&quot; is literally you rn, take a look at <a href="http://t.co/v2pdglGLfm">http://t.co/v2pdglGLfm</a> for a beginners tutorial by <a href="https://twitter.com/TheGreySkies">@TheGreySkies</a> <a href="https://twitter.com/hashtag/LocalHackDay?src=hash">#LocalHackDay</a></p>&mdash; Computing Society (@CompSoc) <a href="https://twitter.com/CompSoc/status/652776037592469505">October 10, 2015</a>
        </div>
      </div>
    </div>
  </div>


  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/b46a2cac56a396fcd3785cf339e2a87e?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">KitP</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Nam scelerisque, mi ut faucibus ullamcorper, magna massa blandit justo, et dictum purus dolor sed mi. Mauris gravida, velit ac blandit rutrum, nulla nisl lacinia tortor, malesuada euismod purus turpis bibendum augue. Fusce feugiat massa nunc, eget venenatis elit malesuada non. Maecenas augue odio, tempor vel aliquet sed, fringilla vel urna.
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/864149f155d63d8eb35620ce2d030c67?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">Jammy</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Etiam quis erat a metus bibendum vehicula sed id ex. 
      </p>
      <p>
        butts lol
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/dc0c227582d78aa79b328f775d328cb5?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usernick">angusp</span>
      <span class="spacer"></span>
      <span class="usermsgtime">12:05</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie nunc in erat bibendum, ac malesuada diam facilisis. Nullam consequat eros eu sapien varius, ornare pellentesque elit consequat. In hac habitasse platea dictumst. Curabitur hendrerit mauris ut tellus egestas, sed accumsan quam tempus. 
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object img-circle userimg"
           src="http://www.gravatar.com/avatar/f377b2304ea8ba2bae0d11422a448fc6?s=40&f=y&d=retro">
    </div>
    <div class="media-body">
      <span class="usermsgtime">12:05</span>
      <br>
      <span class="usernick">* tigo</span>
      <spam class="status">murders a raspberry</span>
<span class="spacer"></span>
</div>
</div>


<div class="media">
  <div class="media-left">
    <img class="media-object img-circle userimg"
         src="http://www.gravatar.com/avatar/7752aa8d9f0eb0d77ba9636516d3a703?s=40&f=y&d=retro">
  </div>
  <div class="media-body">
    <span class="usernick">neanias</span>
    <span class="spacer"></span>
    <span class="usermsgtime">14:45</span>
    <p><a href="http://i.imgur.com/4aGwS.gif">http://i.imgur.com/4aGwS.gif</a></p>
    <div class="richmedia panel">
      <div class="img-wrap">
        <img src="http://i.imgur.com/4aGwS.gif" class="img-responsive">
      </div>
      <div class="panel-footer">
        <span class="pull-right"><i class="fa fa-close"></i></span>
        <img class="embed-icon" src="http://s.imgur.com/images/favicon-32x32.png">
        <span class="spacer"></span>
        <span>Imgur</span>
        <span class="spacer"></span>&rsaquo;<span class="spacer"></span>
        <span>Imgur: The most awesome images on the Internet&hellip;</span>
      </div>
    </div>
  </div>
</div>


<div class="media notice">
  <div class="media-body">
    <i class="fa fa-reply"></i> <span class="spacer"></span>
    <img class="img-circle userimg"
         src="http://www.gravatar.com/avatar/dc0c227582d78aa79b328f775d328cb5?s=40&f=y&d=retro">
    &nbsp;<strong>angusp</strong> kicked
    <span class="spacer"></span>
    <img class="img-circle userimg"
         src="http://www.gravatar.com/avatar/7752aa8d9f0eb0d77ba9636516d3a703?s=40&f=y&d=retro">
    &nbsp;<strong>neanias</strong> - 
    <q>Just because.</q>
    <span class="spacer"></span>
    <span class="usermsgtime">14:45</span>
  </div>
</div>


<div class="media notice">
  <div class="media-body">
    <i class="fa fa-share"></i> <span class="spacer"></span>
    <img class="img-circle userimg"
         src="http://www.gravatar.com/avatar/f22d6e9e4195ef2a62b15057083a1bff?s=40&f=y&d=retro">
    &nbsp;<strong>Edran</strong> has joined <strong>#compsoc</strong>
    <span class="spacer"></span>
    <span class="usermsgtime">14:45</span>
  </div>
</div>


<div class="media notice">
  <div class="media-body">
    <i class="fa fa-reply"></i> <span class="spacer"></span>
    <img class="img-circle userimg"
         src="http://www.gravatar.com/avatar/f22d6e9e4195ef2a62b15057083a1bff?s=40&f=y&d=retro">
    &nbsp;<strong>Edran</strong> has left the channel -
    <q>Client.Quit</q>
    <span class="spacer"></span>
    <span class="usermsgtime">14:45</span>
  </div>
</div>


<div class="media notice">
  <div class="media-body">
    <i class="fa fa-share"></i> <span class="spacer"></span>
    <img class="img-circle userimg"
         src="http://www.gravatar.com/avatar/f22d6e9e4195ef2a62b15057083a1bff?s=40&f=y&d=retro">
    &nbsp;<strong>Edran</strong> has joined <strong>#compsoc</strong>
    <span class="spacer"></span>
    <span class="usermsgtime">14:45</span>
  </div>
</div>

</div><!-- /.chatwrap -->
</div><!-- /.chatblock -->




<footer class="input-field">
  <form>
    <input type="submit" value="send" id="submit" class="btn btn-default btn-hover-primary pull-right">
    <div class="input">
      <label for="text-in" id="nick">possel-user</label>
      <input type="text" id="text-in" style="padding-left: 7em;">
    </div>
  </form>
</footer>
