<div class="sidebar">

  <header>
    <img src="{{ site.baseurl }}/img/logo.svg" class="logo-sidebar">  
  </header>

  <div class="sidewrap">

    <section>
      <ul class="nicklist">
        <li><i class="status online fa fa-circle"></i> angusp</li>
        <li><i class="status fa fa-gear"></i> system buffer</li>
      </ul>
    </section>
    
    <section class="channels">
      <h5>Channels</h5>
      <h6>
        <a href="" class="pull-right part"><i class="fa fa-minus"></i></a>
        imaginarynet.org.uk
      </h6>
      <ul class="nicklist">
        <li class="unread active">
          <i class="channel">#</i> compsoc <span class="badge label-light">24</span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li class="unread">
          <i class="channel">#</i> tardis <span class="badge label-light">7</span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> compsoc-minecraft <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> possel <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
      </ul>

      <h6>
        <a href="" class="pull-right part"><i class="fa fa-plus"></i></a>
        irc.undernet.org
      </h6>
      <ul class="nicklist hidden">
        <li>
          <i class="channel">#</i> emacs <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> sparkfun <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> whatever <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li class="unread">
          <i class="channel">#</i> kerbalspaceprogram <span class="badge label-mention">7</span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> compsocs-uk <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
      </ul>
      
      <h6>
        <a href="" class="pull-right part"><i class="fa fa-minus"></i></a>
        freenode.net
      </h6>
      <ul class="nicklist">
        <li>
          <i class="channel">#</i> emacs <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> sparkfun <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> whatever <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li class="unread">
          <i class="channel">#</i> kerbalspaceprogram <span class="badge label-mention">7</span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
        <li>
          <i class="channel">#</i> compsocs-uk <span class="badge label-light"></span>
          <a class="pull-right part" href=""><i class="fa fa-close"></i></a>
        </li>
      </ul>
      
    </section>

    <section class="nicks">
      <h5>People</h5>
      
      <h6>
        <a href="" class="pull-right part"><i class="fa fa-minus"></i></a>
        imaginarynet.org.uk
      </h6>
      <ul class="nicklist">
        <li><i class="status online fa fa-circle"></i> angusp</li>
        <li class="unread"><i class="status online fa fa-circle"></i> KitB <span class="badge label-light">1</span></li>
        <li><i class="status online fa fa-circle"></i> KitC</li>
        <li class="unread"><i class="status online fa fa-circle"></i> camerongray <span class="badge label-light">1</span></li>
        <li><i class="status online fa fa-circle"></i> KitD</li>
        <li><i class="status online fa fa-circle"></i> Norgg</li>
        <li><i class="status online fa fa-circle"></i> moredhel</li>
        
        <li><i class="status away fa fa-circle-o"></i> neanias</li>
        <li><i class="status away fa fa-circle-o"></i> oliland</li>
        <li><i class="status away fa fa-circle-o"></i> Jammy</li>
        <li><i class="status away fa fa-circle-o"></i> Simon</li>
      </ul>

      
      <h6>
        <a href="" class="pull-right part"><i class="fa fa-minus"></i></a>
        freenode.net
      </h6>
      <ul class="nicklist">
        <li><i class="status online fa fa-circle"></i> angusp</li>
        <li><i class="status online fa fa-circle"></i> KitB </li>
        <li><i class="status online fa fa-circle"></i> KitC</li>
        <li><i class="status online fa fa-circle"></i> smoot</li>
        <li class="unread"><i class="status online fa fa-circle"></i> timbl<span class="badge label-light">14</span></li>
      </ul>
    </section>
  </div><!-- /.sidewrap -->

  <footer class="sidefoot">
    <span>
      <a href="" data-toggle="tooltip" data-placement="top" title="Join a channel or server"><i class="fa fa-plus"></i></a>
    </span>
    <span class="spacer"></span>
    <span>
      <a href="" data-toggle="tooltip" data-placement="top" title="Search channels and people"><i class="fa fa-search"></i></a>
    </span>
    <span class="spacer"></span>
    <span>
      <a href="" data-toggle="tooltip" data-placement="top" title="Possel settings"><i class="fa fa-cog"></i></a>
    </span>
  </footer>
</div>
